<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专家数据统计展示</title>
    <style>
        body {
            background-color: lightblue;
        }
        div {
            margin-top: 10px;
        }
    </style>
    <script src="../echarts.min.js"></script>
    <script src="../vintage.js"></script>
</head>
<body>
    <h1 align="center" style="font-size: 40px;">专家数据统计展示</h1>
    <div align="center" id="main1"
         style="width: 1500px;height: 650px;margin: 0 auto;"></div>
    <div align="center" id="main2"
         style="width: 1500px;height: 650px;margin: 0 auto;"></div>
    <div align="center" id="main3"
         style="width: 1500px;height: 650px;margin:0 auto;"></div>
    <div align="center" id="main4"
         style="width: 1500px;height: 650px;margin:0 auto;"></div>
    <div align="center" id="main5"
         style="width: 1500px;height: 650px;margin: 0 auto;"></div>
    <div alige="center" id="main6"
         style="width: 1500px;height: 650px; margin: 0 auto;"></div>
    <div align="center" id="main7"
         style="width: 1500px;height: 650px;margin: 0 auto;"></div>

    <script src="../gender.js"></script>
    <script src="../organization.js"></script>
    <script src="../major.js"></script>
    <script src="../title_organization.js"></script>
    <script src="../graduate_school.js"></script>
    <script src="../graduate_country.js"></script>
    <script src="../birth_year.js"></script>
</body>
</html>